


/* h1{
    font-size: 25px;
}

@media(max-width:500px){
h1{
    font-size: 20px;
}
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    padding: 20px 10px;
    align-items: center;
    background-color: black;
}
nav .MyWebsite{
    color: white;
}
.menu{
    color: white;
    display: flex;
    gap: 30px;
}

@media(max-width:1000px){
    nav.menu{
        display: none;
    }
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
}